<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
 	<!-- Welcome file list -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Servlet mapping -->
    <servlet>
        <servlet-name>SearchFlightServlet</servlet-name>
        <servlet-class>com.airline.SearchFlightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchFlightServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

	<servlet>
    	<servlet-name>CancelBookingServlet</servlet-name>
    	<servlet-class>com.airline.CancelBookingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>CancelBookingServlet</servlet-name>
    	<url-pattern>/cancelBooking</url-pattern>
	</servlet-mapping>
</web-app>